import {font-family: 'Ibarra Real Nova', serif;
font-family: 'Nova Script', cursive;
font-family: 'Open Sans', sans-serif; }

body {
  display: block;
  margin: 8px;
}

body:focus {
  outline: none;
}
.mainwrapper {
  width: 100%;
  background-image: url("./assets/capstone-backgr.png");
  height: 1500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}