/* import {font-family: 'Ibarra Real Nova', serif;
font-family: 'Nova Script', cursive;
font-family: 'Open Sans', sans-serif; } */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

body[data-theme="light"] {
  --nav-bg-color: hsl(0, 0%, 100%);
  --bg-color: hsl(0, 0%, 98%);
  --txt-color: hsl(197, 15%, 18%);
  --border-color: hsl(0, 0%, 95%);
  --el-txt: rgb(105, 105, 105);
  --svg-color: "initial";
}

body[data-theme="dark"] {
  --nav-bg-color: hsl(209, 23%, 22%);
  --bg-color: hsl(207, 26%, 17%);
  --txt-color: hsl(0, 0%, 100%);
  --border-color: hsl(207, 27%, 17%);
  --el-txt: rgb(194, 193, 193);
  --svg-color: #fff;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg-color);
  transition: 0.3s;
  overflow: auto;
}

.fa-angle-double-up {
  width: 17px;
  color: var(--txt-color);
  position: fixed;
  right: 30px;
  bottom: 20px;
}

.nav {
  width: 100%;
  background-color: var(--nav-bg-color);
  display: flex;
  justify-content: space-between;
  color: var(--txt-color);
  padding: 15px 60px;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 3px solid var(--border-color);
  transition: 0.3s;
  position: sticky;
  top: 0;
  z-index: 100;
  cursor: pointer;
}

.logoStyle {
  width: 10%;
}

.theme {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  color: var(--txt-color);
  cursor: pointer;
}

.fa-moon {
  width: 13px;
  margin: 2px 6px 0 0;
  height: max-content;
  color: var(--svg-color);
}

#coutriesShow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.card {
  width: 20%;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  border: 1px solid black;
}

.flag-image {
  width: 100%;
  height: 27vh;
}

.flag {
  margin: auto;
  width: 95%;
  height: 30vh;
}

.comments {
  width: 40%;
  margin-top: 24px;
}

.comment {
  margin-bottom: 12px;
  margin-left: 60px;
  border-radius: 4px;
}

button {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 22px;
  width: 160px;
  border-radius: 2px;
  border: ;
}

.likes {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  padding-right: 40px;
  gap: 15px;
  font-family: 'Nova Script', cursive;
  font-size: 22px;
}

.country-name .population {
  font-family: 'Nova Script', cursive;
  font-size: 22px;
}

.p {
  display: flex;
  flex-direction: column;
}

.countries-title {
text-align: center;
margin-bottom: 30px;
}

.division {
display: flex;
}
/* popup style */

.modal-cont {
/* display: flex;
flex-direction: column; */
border: 1px solid red;
  gap: 12px;
width: 100%;
}

.back-btn{
width: 5%;
}

.flag-imagepopup {
border: 1px solid red;
object-fit: cover;
width: 850px;
margin-left: 345px;
}

.flag-popUp {
  margin-left: 340px;
  width: 95%;
  height: 30vh;
}

.right {
margin-left: 730px;
}